@font-face {
font-family: Lovely;
src: url("./fonts/AffectionatelyYours.otf") format("opentype");
}

body{
  font-family: Lovely;
}

.heart {
  background-color: red;
  display: inline-block;
  height: 300px;
  margin: 0 10px;
  position: relative;
  top: 150px;

  width: 300px;
  -webkit-transform: rotate(-45deg);
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 300px;
  position: absolute;
  width: 300px;
}

.heart:before {
  top: -150px;
  left: 0;

}

.heart:after {
  left: 150px;
  top: 0;
}

.thing{
    animation: pulse 1s ease infinite;
}
@-webkit-keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.gobutton:hover{
    cursor: pointer;
}